body{
    background-color: red;
}

/*On pages < 1000px, fine to use full width*/
/*On pages > 100px, width of main content should be restricted*/

main {
    margin-left: 20%;
    margin-right: 20%;
}

@media only screeen and (max-width: 1000px) {
    Body {
        background-color: green;
    }

@media only screeen and (max-width: 800px) {
    Body {
        background-color: blue;
    }
}

@media only screeen and (max-width: 600px) {
    Body {
        background-color: yellow;
    }
}

@media only screeen and (max-width: 1000px) {
    Body {
        background-color: purple;
    }
}
}